body{
    font-family: 'Domine', serif;
    font-family: 'Poppins', sans-serif;
}
.tomato-color{
    color: tomato;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
    margin-left: 40px;
    
    
}
.half-width img{
    width: 70%;
}
#width{
    background-color: orangered;
    padding: 5px;
    width: 100px;
    border-radius: 5%;
    font-weight: 700;
    color: white;  
}
.text{
    font-size: 12px;
    
}
.font{
    font-size: 12px;
}
#button{
   background-color: tomato; 
   padding: 5px;
   width: 175px;
   padding-left: 10px;
   border-radius: 5%;
   font-weight: 700;
   color: white;
}

.border-area h1{
   padding: 5px;
}
h1{
    border-left: 2px solid salmon;
    border-bottom: 4px;
}
.remove-border h1 {
    border-left: 0px;
}
h2{
    text-align: center;
    
}
#card{
    display: block;
}
#card h1{
    text-align: center;
    border-left: 0px;
}
#card span{
    color:tomato;
}
.card{
    width: 200px;
    height: 200px;
    border-radius: 5%;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px gray;
}
.card1-bg{
    background-color: #EDF5F6;
}
.card2-bg{
    background-color: #FFEEEE;
}
.card3-bg{
    background-color: #FFF4D6;
}
.all-card{
    display: flex;
    justify-content: center;
}
.image-style{
    width: 40%;
}
.card-body{
    padding: 5px;
    font-size: xx-small;
}
.home{
    font-size: smaller;
    margin-left: 10px;
}
footer p {
    text-align: center;
}


